<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>64FA4ABF-BA7A-4AAA-B581-C376FB11BE09</string>
	<key>MSAppCenterNetworkRequestsAllowed</key>
	<false/>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBULDBIYHCJQUVJTVFVWV1hZ
	WltcYWZVJG51bGzSDQ4PEVpOUy5vYmplY3RzViRjbGFzc6EQgAKAFNMTFA4VFhdcdGlt
	ZXN0YW1wS2V5WWRldmljZUtleYADgAWAE9IZDhobV05TLnRpbWUjQcev+bvQciKABNId
	Hh8gWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN03xAXIyQlJg4n
	KCkqKywtLi8wMTIzNDU2Nzg5Ojs8PTs8PEFCPDw8PEdISUo8PE1OT1lvc1ZlcnNpb25e
	dGltZVpvbmVPZmZzZXRYYXBwQnVpbGRfEBVsaXZlVXBkYXRlUGFja2FnZUhhc2haYXBw
	VmVyc2lvbl8QEXdyYXBwZXJTZGtWZXJzaW9uW2NhcnJpZXJOYW1lV3Nka05hbWVWbG9j
	YWxlXxAXbGl2ZVVwZGF0ZURlcGxveW1lbnRLZXleY2FycmllckNvdW50cnlab3NBcGlM
	ZXZlbF53cmFwcGVyU2RrTmFtZVdvZW1OYW1lWnNka1ZlcnNpb25cYXBwTmFtZXNwYWNl
	VW1vZGVsXxAVd3JhcHBlclJ1bnRpbWVWZXJzaW9uXxAWbGl2ZVVwZGF0ZVJlbGVhc2VM
	YWJlbFpzY3JlZW5TaXplVm9zTmFtZVdvc0J1aWxkgAuADoAQgACAEoAQgACAAIAGgA2A
	AIAAgACAAIAJgAeAEYAIgACAAIAPgAqADF8QD2FwcGNlbnRlci5tYWNvc1U0LjMuMFdN
	YWMxNCwyVUFwcGxlVW1hY09TVjI2LjMuMVcyNUQyMTI4VWVuX0JEEQFoWDE0NzB4OTU2
	VjEwLjUuMF8QGGNvbS5sd291aXMuYWx0LXRhYi1tYWNvc9IdHl1eWk1TQUNEZXZpY2Wj
	X2AhWk1TQUNEZXZpY2VeTVNBQ1dyYXBwZXJTZGvSHR5iY18QFU1TQUNEZXZpY2VIaXN0
	b3J5SW5mb6NkZSFfEBVNU0FDRGV2aWNlSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUlu
	Zm/SHR5naF5OU011dGFibGVBcnJheaNnaSFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkA
	TABRAFMAawBxAHYAgQCIAIoAjACOAJUAogCsAK4AsACyALcAvwDIAMoAzwDaAOMA6gDt
	APYBJwExAUABSQFhAWwBgAGMAZQBmwG1AcQBzwHeAeYB8QH+AgQCHAI1AkACRwJPAlEC
	UwJVAlcCWQJbAl0CXwJhAmMCZQJnAmkCawJtAm8CcQJzAnUCdwJ5AnsCfQKPApUCnQKj
	AqkCsAK4Ar4CwQLKAtEC7ALxAvwDAAMLAxoDHwM3AzsDUwNlA2oDeQN9AAAAAAAAAgEA
	AAAAAAAAagAAAAAAAAAAAAAAAAAAA4U=
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx6/5u8557oAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBx6/5u86G8IAE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9vayADAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAACAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAABgAAAAEB
	AABTb3VyYXYAAAkAAAABAQAARG9jdW1lbnRzAAAACAAAAAEBAABQZXJzb25hbAYAAAAB
	AQAAY29uZmlnAAADAAAAAQEAAG1hYwAYAAAAAQYAABAAAAAgAAAAMAAAAEQAAABUAAAA
	ZAAAAAgAAAAEAwAALUMAAAAAAAAIAAAABAMAALKyBQAAAAAACAAAAAQDAADrsgUAAAAA
	AAgAAAAEAwAAoFMUAAAAAAAIAAAABAMAAFO7FAAAAAAACAAAAAQDAACMNxYAAAAAABgA
	AAABBgAAkAAAAKAAAACwAAAAwAAAANAAAADgAAAACAAAAAAEAABBx1M9UzjGaBgAAAAB
	AgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAQAAAAAAAAA
	BAAAAAMDAAD2AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAA
	AAQDAAAAAIcROQAAAAgAAAAABAAAQcenU3YAAAAkAAAAAQEAAENFN0JENTk4LTEwQjct
	NEY1OS1BRDVGLTZDNkZFQUQyRDlDNhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAA
	AAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAAcAAAAAAAAAAFEAAA
	8AAAAAAAAAAQEAAAIAEAAAAAAABAEAAAEAEAAAAAAAACIAAA9AEAAAAAAAAFIAAAZAEA
	AAAAAAAQIAAAdAEAAAAAAAARIAAAqAEAAAAAAAASIAAAiAEAAAAAAAATIAAAmAEAAAAA
	AAAgIAAA1AEAAAAAAAAwIAAAQAEAAAAAAAABwAAASAEAAAAAAAARwAAAIAAAAAAAAAAS
	wAAAWAEAAAAAAAAB0AAAQAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>NSStatusItem VisibleCC Item-0</key>
	<false/>
	<key>NSWindow Frame NSSpellCheckerSpellingPanel</key>
	<string>397 359 431 290 0 0 1470 922 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>692 400 359 150 0 0 1470 923 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>946 684 400 139 0 0 1470 923 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>425 393 620 398 0 0 1470 923 </string>
	<key>NSWindow Frame SettingsWindow</key>
	<string>2058 264 918 534 1470 -46 1920 1050 </string>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2026-03-10T06:36:15Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>2224654167</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>appearanceSize</key>
	<string>1</string>
	<key>appearanceStyle</key>
	<string>2</string>
	<key>appearanceVisibility</key>
	<string>0</string>
	<key>appsToShow2</key>
	<string>0</string>
	<key>fadeOutAnimation</key>
	<string>false</string>
	<key>hideAppBadges</key>
	<string>false</string>
	<key>hideShowAppShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRAEEABRaNIeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>H</string>
	</dict>
	<key>hideSpaceNumberLabels</key>
	<string>true</string>
	<key>menubarIconShown</key>
	<string>false</string>
	<key>preferencesVersion</key>
	<string>10.5.0</string>
	<key>previewFadeInAnimation</key>
	<string>false</string>
	<key>previewFocusedWindow</key>
	<string>false</string>
	<key>screenRecordingPermissionSkipped</key>
	<string>true</string>
	<key>searchShortcut</key>
	<dict>
		<key>secureData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwZGhsc
		HVUkbnVsbNYNDg8QERITFBUUFxhdbW9kaWZpZXJGbGFnc18QG2NoYXJhY3Rl
		cnNJZ25vcmluZ01vZGlmaWVyc1YkY2xhc3NaY2hhcmFjdGVyc1drZXlDb2Rl
		V3ZlcnNpb26ABIAFgAaABYADgAJRMRABEABRc9IeHyAhWiRjbGFzc25hbWVY
		JGNsYXNzZXNaU1JTaG9ydGN1dKIgIlhOU09iamVjdAAIABEAGgAkACkAMgA3
		AEkATABRAFMAWwBhAG4AfACaAKEArAC0ALwAvgDAAMIAxADGAMgAygDMAM4A
		0ADVAOAA6QD0APcAAAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAABAA==
		</data>
		<key>string</key>
		<string>S</string>
	</dict>
	<key>settingsWindowShownOnFirstLaunch</key>
	<string>true</string>
	<key>shortcutStyle</key>
	<string>0</string>
	<key>showAppsOrWindows</key>
	<string>1</string>
	<key>showTabsAsWindows</key>
	<string>true</string>
	<key>showTitles</key>
	<string>0</string>
	<key>showWindowlessApps</key>
	<string>2</string>
	<key>titleTruncation</key>
	<string>2</string>
	<key>updatePolicy</key>
	<string>1</string>
	<key>vimKeysEnabled</key>
	<string>false</string>
	<key>windowDisplayDelay</key>
	<string>0</string>
</dict>
</plist>
